<header
  [style]="{
    height: '8vh'
  }"
  class="w-full flex flex-row items-center"
>
  <nav
    class="h-full w-10/12 pr-10 flex flex-row justify-between items-center ml-auto"
  >
    <button mat-raised-button color="primary" class="bg-black-dark">
      FIND CHANNEL
    </button>

    <div>
      <ng-container *ngIf="auth$ | async; else noAuth">
        <button
          (click)="logout()"
          mat-raised-button
          color="primary"
          class="bg-black-dark"
        >
          LOGOUT
        </button>
      </ng-container>
      <ng-template #noAuth>
        <button
          routerLink="/auth/login"
          mat-raised-button
          color="primary"
          class="bg-black-dark"
        >
          SIGN IN
        </button>
        <button
          routerLink="/auth"
          mat-raised-button
          color="primary"
          class="ml-8 bg-black-dark"
        >
          SIGN UP
        </button>
      </ng-template>
    </div>
  </nav>
</header>
